In [1]:
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pandas as pd
import numpy as np
import time

In [2]:
executable_path = {"executable_path": "./chromedriver"}

In [3]:
browser = Browser("chrome", **executable_path, headless=False)

In [4]:
# set the url for the html page to be scraped
web_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [5]:
browser.visit(web_url)

In [6]:
time.sleep(5)

In [7]:
soup = BeautifulSoup( browser.html, "html.parser")

In [8]:
paragraph = []
paragraph = soup.find_all("div", class_="article_teaser_body")
#paragraph

In [9]:
news_summary = paragraph[0].text
news_summary

'Like much of the rest of the world, the Mars rover team is pushing forward with its mission-critical work while putting the health and safety of their colleagues and community first.'

In [10]:
links = soup.find_all("div", class_="content_title")

In [11]:
# initialize an empty list
headline = []

try:
    for link in links:
        anchor = link.find('a')
        #print(anchor)
        if anchor != None:
            headline.extend(anchor)
        
except TypeError:
    pass

In [12]:
news_headline = headline[0]
news_headline

"How NASA's Perseverance Mars Team Adjusted to Work in the Time of Coronavirus "

In [13]:
print('First Step - Complete!')

First Step - Complete!

In [14]:
new_web_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [15]:
browser.visit(new_web_url)

In [16]:
soup = BeautifulSoup(browser.html, "html.parser")

In [17]:
img = soup.find('a', class_='button fancybox')['data-fancybox-href']

In [18]:
img

'/spaceimages/images/mediumsize/PIA17924_ip.jpg'

In [19]:
img_url = 'https://www.jpl.nasa.gov' + img
img_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17924_ip.jpg'

In [20]:
mars_weather_url = 'https://twitter.com/marswxreport?lang=en'

In [21]:
browser.visit(mars_weather_url)

In [22]:
time.sleep(10)

In [23]:
soup = BeautifulSoup(browser.html, "html.parser")

In [24]:
#class_=['css-901oao', 'r-hkyrab r-1qd0xha', 'r-a023e6', 'r-16dba41', 'r-ad9z0x', 'r-bcqeeo',  'r-bnwqim r-qvutc0']
tweet_div = soup.find_all('div', class_='css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0')

In [25]:

#tweet_div

In [26]:
mars_weather = tweet_div[0].text
mars_weather

'InSight sol 504 (2020-04-27) low -93.6ºC (-136.5ºF) high -6.7ºC (20.0ºF)\nwinds from the SW at 4.6 m/s (10.3 mph) gusting to 15.0 m/s (33.6 mph)\npressure at 6.80 hPa'

In [27]:
mars_facts_url = 'https://space-facts.com/mars/'

In [28]:
tables = pd.read_html(mars_facts_url)
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [29]:
type(tables)

list

In [30]:
type(df)

pandas.core.frame.DataFrame

In [31]:
df = df.rename(columns={0:'Metric', 1: 'Value'})
df

                 Metric                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [32]:
df.set_index('Metric', inplace=True)
df

                                              Value
Metric
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [33]:
html_table = df.to_html()
html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Metric</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [34]:
df.to_html('./template/mars-data.html')

In [52]:
hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [53]:
browser.visit(hemisphere_url)

In [54]:
time.sleep(10)

In [55]:
soup = BeautifulSoup(browser.html, "html.parser")

In [56]:
hemisphere_image_urls = []

base_url = 'https://astrogeology.usgs.gov' 

products = soup.find_all('div', class_='description')
for product in products:
    title = product.h3.text
    targ = product.a['href']
    browser.visit(base_url + targ)
    soup = BeautifulSoup(browser.html, "html.parser")
    time.sleep(5)
    sample_div = soup.find('div', class_='downloads')
    anchor = sample_div.ul.li.a['href']
    
    hemisphere = {}
    
    hemisphere['title'] = title
    hemisphere['img_url'] = anchor
    
    hemisphere_image_urls.append(hemisphere)

In [60]:
hemisphere_image_urls

list

In [41]:
 mars_dict = {
        "news_title": news_title,
        "news_p": news_p,
        "featured_image_url": featured_image_url,
        "mars_weather": mars_weather,
        "facts_table": html_table,
        "hemispheres_images": hemisphere_image_urls
    }

In [42]:
#browser.quit()